<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <%= link_to 'New Task', new_project_task_path(@project), class: "btn btn-info" %>
    </div>
    <h1>Tasks</h1>
  </div>

  <ul class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to "#{@project.name}", project_path(@project) %></li>
    <li class="active">Tasks</li>
  </ul>

  <table class= "table">
    <thead>
      <tr>
        <th> Description </th>

        <th> Due On </th>

      </tr>
    </thead>
    <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td>
        <% if task.complete%>
        <strike><%= link_to task.description, project_task_path(@project, task) %></strike>

        <% else %>

        <%= link_to task.description, project_task_path(@project, task) %>

        <% end %>
      </td>

        <td>
          <% if task.due_date %>
          <%= task.due_date.strftime("%m/%d/%y")%>
          <% end %>
        </td>
        <td>
          <div class= "pull-right">
            <%= link_to "Edit", edit_project_task_path(@project, task), class: "btn btn-info" %>
            <%= link_to "Delete", project_task_path(@project, task), class: "btn btn-danger", method: :delete, data:{confirm: "Are you sure?"}%>
          </div>
      </td>
    </tr>
      <% end %>
    </tbody>
  </table>

</div>
