<div class="container">
  <div class="page-header">
    <div class= "pull-right">
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
    </div>

    <div>

      <h3><%= @user.first_name + " " + @user.last_name %></h3>
    </div>

</div>



    <dl class= "dl-horizontal">
      <dt>First Name:
        <dd><%= @user.first_name %></dd>
      </dt>
        <dt>Last Name:
          <dd><%= @user.last_name %></dd>
        <dt>Email
          <dd><%= mail_to @user.email %></dd>
        </dt>

      </dl>

</div>
