<div class="container">
  <div class="page-header">
    <div class= "pull-right">
      <% if current_user == @user %>
        <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %>
      <% end %>
    </div>

    <div>

      <h3><%= @user.first_name + " " + @user.last_name %></h3>
    </div>

</div>



    <dl class= "dl-horizontal">

      <dt>First Name
        <dd><%= @user.first_name %></dd>
      </dt>
        <dt>Last Name
          <dd><%= @user.last_name %></dd>
      <% if current_user == @user || current_user.admin == true %>
        <dt>Email
          <dd><%= mail_to @user.email %></dd>

          <dt>Pivotal Tracker Token</dt>
            <dd><%= @user.trackertoken[0..3]+@user.trackertoken[4..100].gsub(/./, '*') %> </dd>


      <% end %>
        </dt>

      </dl>

</div>
